*,
*::before,
*::after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; }

body { margin: 0; padding: 0; font-family: Helvetica, Arial, sans-serif; font-size: 12px; }
h1 {}
.wrapper { /*width: 960px; */margin: 0 auto; }
.demo-container {}
.demo-container.short { width: 50%; }
p { margin-bottom: 1.3em; line-height: 1.5em; }